body {
    margin: 0;
    padding: 20px;
    background-color: #000000;
  
}

header {
    background-color: #DFDFDF;
    height: 55vh; /* Ensure the height is appropriate for floating */
    border-radius: 20px;
    position: relative; /* Required for the floating to be within this element */
}

.circle-1 {
    background-color: #EDFF00;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.circle-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.circle-overlay h2 {
    font-size: small;
}

.circle-overlay button {
    text-decoration: none;
    background: none;
    border: 1px solid #000000;
    padding: 12px 25px;
    border-radius: 50px;
}

.circle-2 {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    background-image: url(images/fotonowy.png);
    background-size: contain;
}

.quote-banner {
    background-color: #FF4D00;
    width: 200px;
    height: 40px;
    padding: 15px 60px;
    border-radius: 50px;
    text-align: center;
    position: absolute; /* Make it absolute to participate in the collision */
    bottom: 20px;
    left: 30%;
    transform: translateX(-50%);
}

.music-player {
    height: 250px;
    width: 250px;
    background-color: #4663f7;
    border-radius: 30px;
    position: absolute; /* Same for the music player */
    bottom: 80px; /* Adjust according to placement */
    left: 30%;
    top: 0;
    transform: translateX(-50%);
}

.titlepage{
    padding: 10px;
    font-size: 16px
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    gap: 10px;
}

.wrapper > div{
    
    border-radius: 20px;
    
    padding: 1em;
    color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}

.one { grid-area: 1 / 1 / 2 / 2;
background-color: #7E8DEB; }
.two { grid-area: 1 / 2 / 2 / 3;
background-color: #6CF090; }
.three { grid-area: 1 / 3 / 2 / 4;
background-color: #CCCFD9; }
.four { grid-area: 2 / 1 / 3 / 2;
background-color: #EF6D50;}
.five { grid-area: 2 / 2 / 3 / 3; 
background-color: #C0C5A0;}
.six { grid-area: 2 / 3 / 3 / 4;
background-color: #F8B1ED }

.wrapper  button{
    text-decoration: none;
    background: none;
    border: 1px solid #000000;
    padding: 12px 40px;
    border-radius: 50px;
    background-color: black;
    color: #CCCFD9;
    
}